{% extends 'AppAuditoria/base.html' %}

{% load static %}

{% block section1 %}

<!-- Header-->
<header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Capacitación en Sistema de Gestión de Calidad</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Urilice esta Herramienta para realizar una auditoría rápida en líneas de producción con el fin de concientizar al personal sobre los conceptos básicos de calidad!

                                </p>
            <!-- Antes de empezar-->
                                    <a class="btn btn-outline-light btn-lg px-4" href="#!" data-bs-toggle="modal" data-bs-target="#antesDeEmpezarModal">Antes de empezar</a>
<!-- Modal para "Antes de empezar" -->
<div class="modal fade" id="antesDeEmpezarModal" tabindex="-1" aria-labelledby="antesDeEmpezarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="antesDeEmpezarModalLabel">Antes de empezar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¡Bienvenido a nuestra herramienta de auditoría! Antes de empezar, aquí tienes una guía rápida:</p>
                <ul>
                    <li>Informe al supervisor de la línea que realizará una auditoría.</li>
                    <li>Ingresa el nombre del auditor.</li>
                    <li>Selecciona la fecha de la auditoría.</li>
                    <li>Verifique los puntos del checklist de Calidad.</li>
                    <li>Elije el resultado de la auditoría (OK o NG).</li>
                    <li>Haz clic en "Enviar" para guardar la auditoría.</li>
                </ul>
                <p>¡Y eso es todo! Estás listo para comenzar a realizar auditorías en líneas de producción.</p>
            </div>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'entregables_Formulario' %}">Comience la Auditoría</a>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<img class="img-fluid rounded-3 my-5" src="{% static 'AppAuditoria/assets/auditoria2.png' %}" alt="Descripción de la imagen" width="200" height="150">


</div>
</div>
</header>
<!--LeerEntregables-->
<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'LeerEntregables' %}">Leer Entregables</a>

<!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to start building.</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="fi fi-rr-users-alt"></i></div>
                                    <h2 class="h5">Featured title</h2>
                                    <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="fi fi-sr-home"></i></i></div>
                                    <h2 class="h5">Featured title</h2>
                                    <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Featured title</h2>
                                    <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Featured title</h2>
                                    <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}

