<!DOCTYPE html>
{% extends 'AppAuditoria/base.html' %}

{% load static %}

{% block section1 %}
<html>
<head>
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a la Página de Inicio</h1>
    <p>Esta es una guía para el uso de la App de Auditorias diarias de Calidad.</p>
    <p>Prueb Prueba PRueba.</p>
    <ul>
<!-- Lo comento para revisar 
        <li><a href="{% url 'lista_auditores' %}">Ver Lista de Auditores</a></li>
        <li><a href="{% url 'lista_auditados' %}">Ver Lista de Auditados</a></li>
        <li><a href="{% url 'lista_sectores' %}">Ver Lista de Sectores</a></li>
        <li><a href="{% url 'lista_entregables' %}">Ver Lista de Entregables</a></li>
-->
    </ul>
    
</body>
</html>

{% endblock %}